# Excel files
*.xlsx
!EVDS_06-07-2026.xlsx
!tufe_verisi.xlsx

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
